---
layout: default
---

{% assign rawtags = "" %}
{% for post in site.posts %}
	{% assign rawtags = rawtags | append:'|' | append:post.tag %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}
{% for tag in rawtags %}
	{% if tag != "" %}
		{% if tags == "" %}
			{% assign tags = tag | split:'|' %}
		{% endif %}
		{% unless tags contains tag %}
			{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
		{% endunless %}
	{% endif %}
{% endfor %}

{% assign rposts = site.posts | reverse %}

<div class="about">
  <h1>Welcome to my tutorial blog</h1> 
  My name is Ruben Bimmel. I am a game developer from the Netherlands and student at the <a href="http://www.hku.nl" target="blank">HKU</a>. 
  For my graduation project I did research on how to create a multiplayer party game that can be played on a chromecast.<br/><br/>
  During this research I learned a lot about developing multiplayer games for the web. In this blog you will find a tutorial on how to create a 
  similar game. I did not include developing for the chromecast in these tutorials as it turned out that this hardware is very limited in 
  creating interactive apps. <br/><br/>
  I might add a basic chromecast tutorial in the future. If you want to know more about my experiences with chromecast feel free to contact me at <a href="mailto:contact@rubenbimmel.nl">contact@rubenbimmel.nl</a>.
</div>

<div class="posts">
  {% for tag in tags %}
    <h1>{{ tag }}</h1>
    {% for post in rposts %}
      {% if tag == post.tag %}
        <article class="post">

          <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.img }}" class="post-img"/></a>

          <div class="content">
            <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ forloop.index }}. {{ post.title }}</a></h2>

            <div class="entry">
              {{ post.excerpt }}
            </div>

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
          </div>
        </article>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>